/* Import font for the website */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&display=swap');

/*overriding default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* html {
    height: 100%;
    box-sizing: border-box;
}

/*body*/
body {

    color: black;
    font-family: 'Noto Serif', serif;
    background-color: #f4f4f4;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
}

/* wrapper */
.wrapper {
    align-items: center;
    text-align: center;
    min-height: 100%;
    padding-bottom: 110px;
    flex: 1;
    justify-content: center;
}

/* initial size of elements inside of wrapper */
.wrapper>* {
    flex: 1 100%;
}

/* header */
.header {
    width: 100%;
    background: #C0B283;
    box-shadow: 0 5px 5px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 1em;
    font-size: calc(1vw + 1vh);
}

/* logo */
.logo {
    text-align: center;
    text-shadow: 1px 1px 2px;
    padding: 20px;
    padding-bottom: 25px;
    letter-spacing: 1px;
    font-size: 18px;
}

/* toggle menu inside of header */
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #C0B283;
}

/* menu button */
.menu-button {
    background-color: #C0B283;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

/* button container */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* toggle menu */
#menu-toggle {
    display: none;
}

/* toggle button */
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* menu active */
.menu a.active {
    text-decoration-line: underline;
    font-size: 16px;
}

/* remove underlines from hyperlinks*/
.menu a {
    text-decoration: none;
    color: black;
}

/* add style when hover */
.navbar-link:hover {
    transform: translateY(-10px);
}

/* generic styles for image */
.image {
    padding: 0.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* picture-1 in index.html */
#picture-1 {
    border-radius: 5%;
    background-color: #d9d9d9;
    box-shadow: 0 5px 5px black;
    width: 200px;
    height: 230px;
}

/* footer */
.footer {
    background-color: #C0B283;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
    left: 0;
    bottom: 0;
    right: 0;
    height: 110px;
    width: 100%;
    flex: 1;
}

/* social icons inside of the footer */
.socialIcons {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.socialIcons a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    transition: 0.5s;
}

.socialIcons a:hover {
    transform: translateY(-10px);
}

.socialIcons a i {
    font-size: calc(1vw + 1vh);
    color: #C0B283;
    opacity: 0.9;
}

/* footer navigator */
.footerNav a {
    text-decoration: none;
    color: black;
    font-size: calc(1vw + 1vh);
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav li {
    list-style: none;
    margin: 10px;
}

.footerNav a {
    text-decoration: none;
}

.footerNav li:hover {
    transform: translateY(-10px);
}

/* footer bottom */
.footerBottom {
    display: flex;
        justify-content: center;
        background-color: #d1c7a5;
        text-align: center;
        font-size: 14px;
        width: 100%;
    }
    
    #designer {
        text-transform: uppercase;
        padding-left: 5px;
        font-size: 14px;
    }

